<h1>Body Fat Entries</h1>

<table>
  <tr>
    <th>Upper Measurement</th>
    <th>Middle Measurement</th>
    <th>Lower Measurement</th>
    <th>Body Fat %</th>
    <th>Date Entered</th>
  </tr>
  
  <% @fat_data_points.each do |data| %>
    <% upper = data.upper_measurement %>
    <% mid = data.mid_measurement %>
    <% lower = data.lower_measurement %>
    <% age = (Time.new.year - current_user.born_on.year).to_i %>
    <% current_user.gender == 'male' ? body_fat = find_body_fat_for_men(upper, mid, lower, age) : body_fat = find_body_fat_for_women(upper, mid, lower, age) %>
    
    <tr>
      <td><%= upper %> mm</td>
      <td><%= mid %> mm</td>
      <td><%= lower %> mm</td>
      <td><%= body_fat %></td>
      <td><%= data.created_at.strftime('%b %d, %Y') %></td>
    </tr>
  <% end %>
  
</table>

<%= button_to 'Back to Dashboard', dashboard_path, method: :get %>