<h1>Body Fat</h1>

<%= form_for :body_fat_data_point, url: :fat_point do |f| %>
  
  <div>
    <%= f.label :upper_measurement %> <br>
    <%= f.number_field :upper_measurement, placeholder: 'mm' %>
  </div>
  <br>
  <div>
    <%= f.label :middle_measurment %> <br>
    <%= f.number_field :mid_measurement, placeholder: 'mm' %>
  </div>
  <br>
  <div>
    <%= f.label :lower_measurement %> <br>
    <%= f.number_field :lower_measurement, placeholder: 'mm' %>
  </div>
  <br>
  <div>
    <%= f.submit 'Add Measurments' %>
  </div>
  
<% end %>
<br>

<%= button_to 'Back to Dashboard', dashboard_path, method: :get %>