<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

  <title>TrackMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
